---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=41b691920bf5a3c15aceb4c8d32b904d&exclude=minutely,hourly&lat=37.7749&lon=-122.4194&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.7749,"lon":-122.4194,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1724192415,"sunrise":1724160610,"sunset":1724208961,"temp":71.83,"feels_like":71.26,"pressure":1017,"humidity":54,"dew_point":54.3,"uvi":6.59,"clouds":20,"visibility":10000,"wind_speed":19.57,"wind_deg":280,"wind_gust":28.77,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"daily":[{"dt":1724184000,"sunrise":1724160610,"sunset":1724208961,"moonrise":1724212140,"moonset":1724164080,"moon_phase":0.54,"summary":"Expect
        a day of partly cloudy with clear spells","temp":{"day":69.62,"min":56.97,"max":71.83,"night":59.29,"eve":64.31,"morn":56.97},"feels_like":{"day":68.92,"night":58.59,"eve":63.59,"morn":56.17},"pressure":1017,"humidity":56,"dew_point":53.24,"wind_speed":14.63,"wind_deg":270,"wind_gust":20.89,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"clouds":12,"pop":0,"uvi":8.62},{"dt":1724270400,"sunrise":1724247062,"sunset":1724295280,"moonrise":1724300160,"moonset":1724254980,"moon_phase":0.58,"summary":"The
        day will start with clear sky through the late morning hours, transitioning
        to partly cloudy","temp":{"day":62.73,"min":57.31,"max":62.96,"night":58.5,"eve":60.22,"morn":57.36},"feels_like":{"day":62.08,"night":58.32,"eve":60.04,"morn":57.07},"pressure":1017,"humidity":72,"dew_point":53.06,"wind_speed":16.04,"wind_deg":272,"wind_gust"[...]
