---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/zip?appid=41b691920bf5a3c15aceb4c8d32b904d&zip=94043
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"94043","name":"Mountain View","lat":37.4056,"lon":-122.0775,"country":"US"}'
  recorded_at: Wed, 21 Aug 2024 22:39:38 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=41b691920bf5a3c15aceb4c8d32b904d&exclude=minutely,hourly&lat=37.4056&lon=-122.0775&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.4056,"lon":-122.0775,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1724279979,"sunrise":1724247012,"sunset":1724295166,"temp":79.83,"feels_like":79.83,"pressure":1014,"humidity":51,"dew_point":60.1,"uvi":4.1,"clouds":0,"visibility":10000,"wind_speed":16.11,"wind_deg":320,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"daily":[{"dt":1724270400,"sunrise":1724247012,"sunset":1724295166,"moonrise":1724300100,"moonset":1724254920,"moon_phase":0.58,"summary":"There
        will be clear sky today","temp":{"day":81.88,"min":60.26,"max":81.88,"night":60.76,"eve":73.56,"morn":60.87},"feels_like":{"day":80.92,"night":60.3,"eve":73.26,"morn":59.99},"pressure":1015,"humidity":36,"dew_point":52.34,"wind_speed":9.22,"wind_deg":297,"wind_gust":10.63,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":0,"pop":0,"uvi":7.88},{"dt":1724356800,"sunrise":1724333463,"sunset":1724381486,"moonrise":1724388120,"moonset":1724345760,"moon_phase":0.62,"summary":"Expect
        a day of partly cloudy with clear spells","temp":{"day":75.36,"min":60.24,"max":76.84,"night":60.24,"eve":68.99,"morn":61.84},"feels_like":{"day":74.62,"night":59.68,"eve":68.41,"morn":61.21},"pressure":1015,"humidity":43,"dew_point":50.72,"wind_speed":10.92,"wind_deg":297,"wind_gust":12.71,"weather":[{"id":800,"main":"Clear","description"[...]
