<h1>Editing weather report</h1>

<%= render "form", weather_report: @weather_report %>

<br>

<div>
  <%= link_to "Show this weather report", @weather_report %> |
  <%= link_to "Back to weather reports", weather_reports_path %>
</div>
