---
http_interactions:
- request:
    method: post
    uri: https://addressvalidation.googleapis.com/v1:validateAddress/?key=AIzaSyDD5j-1CbznklQlKWvupamxUydRJlfc_QE
    body:
      encoding: UTF-8
      string: '{"address":{"regionCode":"US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "Address lines missing from request.",
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Wed, 21 Aug 2024 22:18:24 GMT
recorded_with: VCR 6.3.1
