---
http_interactions:
- request:
    method: post
    uri: https://addressvalidation.googleapis.com/v1:validateAddress/?key=AIzaSyDD5j-1CbznklQlKWvupamxUydRJlfc_QE
    body:
      encoding: UTF-8
      string: '{"address":{"regionCode":"US","addressLines":["1600 Amphitheatre Parkway"],"locality":"Mountain
        View","administrativeArea":"CA"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "result": {
            "verdict": {
              "inputGranularity": "PREMISE",
              "validationGranularity": "PREMISE",
              "geocodeGranularity": "PREMISE",
              "addressComplete": true,
              "hasInferredComponents": true
            },
            "address": {
              "formattedAddress": "1600 Amphitheatre Parkway, Mountain View, CA 94043-1351, USA",
              "postalAddress": {
                "regionCode": "US",
                "languageCode": "en",
                "postalCode": "94043-1351",
                "administrativeArea": "CA",
                "locality": "Mountain View",
                "addressLines": [
                  "1600 Amphitheatre Pkwy"
                ]
              },
              "addressComponents": [
                {
                  "componentName": {
                    "text": "1600"
                  },
                  "componentType": "street_number",
                  "confirmationLevel": "CONFIRMED"
                },
                {
                  "componentName": {
                    "text": "Amphitheatre Parkway",
                    "languageCode": "en"
                  },
                  "componentType": "route",
                  "confirmationLevel": "CONFIRMED"
                },
                {
                  "componentName": {
                    "text": "Mountain View",
                    "languageCode": "en"
                  },
                  "componentType": "locality",
                  "confirmationLevel": "CONFIRMED"
                },
                {
                  "componentName": {
                    "text": "CA",
                    "languageCode": "en"
                  },
                  "componentType": "administrative_area_level_1",
                  "confirmationLevel": "CONFIRMED"
                },
                {
                  "componentName": {
                    "text": "USA",
                    "languageCode": "en"
                  },
                  "componentType": "country",
                  "confirmationLevel": "CONFIRMED"
                },
                {
                  "componentName": {
                    "text": "94043"
                  },
                  "componentType": "postal_code",
                  "confirmationLevel": "CONFIRMED",
                  "inferred": true
                },
                {
                  "componentName": {
                    "text": "1351"
                  },
                  "componentType": "postal_code_suffix",
                  "confirmationLevel": "CONFIRMED",
                  "inferred": true
                }
              ]
            },
            "geocode": {
              "location": {
                "latitude": 37.422535,
                "longitude": -122.0847281
              },
              "plusCode": {
                "globalCode": "849VCWF8+24"
              },
              "bounds": {
                "low": {
                  "latitude": 37.422535,
                  "longitude": -122.0847281
                },
                "high": {
                  "latitude": 37.422535,
                  "longitude": -122.0847281
                }
              },
              "placeId": "ChIJF4Yf2Ry7j4AR__1AkytDyAE",
              "placeTypes": [
                "street_address"
              ]
            },
            "metadata": {
              "business": true,
              "residential": false
            },
            "uspsData": {
              "standardizedAddress": {
                "firstAddressLine": "1600 AMPHITHEATRE PKWY",
                "cityStateZipAddressLine": "MOUNTAIN VIEW CA 94043-1351",
                "city": "MOUNTAIN VIEW",
                "state": "CA",
                "zipCode": "94043",
                "zipCodeExtension": "1351"
              },
              "deliveryPointCode": "00",
              "deliveryPointCheckDigit": "0",
              "dpvConfirmation": "Y",
              "dpvFootnote": "AABB",
              "dpvCmra": "N",
              "dpvVacant": "N",
              "dpvNoStat": "Y",
              "carrierRouteIndicator": "D",
              "postOfficeCity": "MOUNTAIN VIEW",
              "postOfficeState": "CA",
              "fipsCountyCode": "085",
              "county": "SANTA CLARA",
              "elotNumber": "0103",
              "elotFlag": "A",
              "addressRecordType": "S",
              "dpvNoStatReasonCode": 5,
              "dpvDrop": "N",
              "dpvThrowback": "N",
              "dpvNonDeliveryDays": "N",
              "dpvNoSecureLocation": "N",
              "dpvPbsa": "N",
              "dpvDoorNotAccessible": "N",
              "dpvEnhancedDeliveryCode": "Y"
            }
          },
          "responseId": "79b0b97b-a6c9-4fc7-b4b7-46d79d016581"
        }
  recorded_at: Wed, 21 Aug 2024 22:09:24 GMT
recorded_with: VCR 6.3.1
